@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SDKukdetopokki';
    src: url('./assets//font/SDKukdetopokki.woff');
}

.font-kukde {
    font-family: 'SDKukdetopokki';
}

.main-header{
    -webkit-app-region: drag;
}

.key-color-main {
    background-color: rgb(234, 108, 106);
}